<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Daruma Scraping</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/aggregate">Aggregate</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom border-gray pb-2 mb-2">View Items by {{le}}</h3>
          <span>
                <form class="form-inline my-2 my-lg-0" action="/user/{{username}}/items" method="get">
                    <select name="spider" class="form-control mr-sm-2" id="spider">
                                    <option value="no filter" selected disabled>Select Filter</option>
                                    <option value="ProductListSpider">ProductListSpider</option>
                                    <option value="BrandListSpider">BrandListSpider</option>
                                    <option value="no filter">No Filter</option>
                    </select>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Go!</button>
                </form>
            </span>
        <div class="media text-muted pt-3">
         <table class="table table-bordered">
                   <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Spider</th>
                        <th scope="col">URL</th>
                        <th scope="col">Daruma Code</th>
                        <th style="width: 25%" scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                    <tr>
                        <th scope="row"><a style="text-decoration: none;" href="/user/{{username}}/detail/{{d['job_id']}}" target="_blank">{{ loop.index + (page - 1) * per_page }}</a></th>
                        <td>{{ d['spider'] }}</td>
                        <td><a href="{{ d['url'] }}" style="text-decoration: none;" target="_blank">{{ d['url_display'] }}</a></td>
                        <td>{{ d['daruma_code'] }}</td>
                        <td>{{ d['data'] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
          {{ pagination.links }}
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>