<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Daruma Scraping</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--nav bar-->
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-gray pb-2 mb-2">Detail Job {{id}}</h3>

        <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th >{{keys[0]}}</th>
                        <td>{{data['job_id']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[1]}}</th>
                        <td>{{data['url']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[2]}}</th>
                        <td>{{data['created_at']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[3]}}</th>
                        <td>{{data['created_by']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[4]}}</th>
                        <td>{{data['start_time']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[5]}}</th>
                        <td>{{data['end_time']}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[6]}}</th>
                        {% if id != 0 %}
                        <td><a href="/user/{{username}}/error_detail/{{id}}">{{data['error_count']}}</a></td>
                        {% else %}
                        <td>{{data['error_count']}}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th >Response Duration(s)</th>
                        <td>{{data['response_duration']}}</td>
                    </tr>
                    <tr>
                        <th>Request(s)</th>
                        <td>{{request_count}}</td>
                    </tr>
                    <tr>
                        <th>Item(s)</th>
                        <td>{{items_len}}</td>
                    </tr>
                    </tbody>
                </table>
      </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-gray pb-2 mb-2">Detail Request(s)</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Request</th>
                    <th scope="col">Url</th>
                    <th scope="col">Status Code</th>
                    <th scope="col">Content Type</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Exception Content</th>
                </tr>
            </thead>
            <tbody>
            {% for request in requests %}
            <tr>
                <th scope="row">{{ loop.index + (page - 1) * per_page }}</th>
                <td>{{request['url'][:50]}}..</td>
                <td>{{request['http_status_code']}}</td>
                <td>{{request['content_type']}}</td>
                <td>{{request['created_at']}}</td>
                <td><a style="text-decoration: none;" target="_blank" href="/user/{{username}}/error_detail/{{request['job_id']}}">{{request['exception_content'][0]}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
      </div>


    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <span>
            <a style="float: right;" target="blank" class="btn btn-primary btn-sm"
               href="/user/{{username}}/return-items-files/{{id}}/">
              download as csv
            </a>
        </span>
        <h3 class="border-gray pb-2 mb-2">Items</h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Spider</th>
                <th scope="col">URL</th>
                <th scope="col">Daruma Code</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for d in items %}
            <tr>
                <th scope="row">{{ loop.index + (page_items - 1) * per_page_items }}</th>
                <td>{{ d['spider'] }}</td>
                <td><a href="{{ d['url'] }}" style="text-decoration: none;" target="_blank">{{ d['url_display'] }}</a>
                </td>
                <td>{{ d['daruma_code'] }}</td>
                <td>{{ d['data'][:100] }}..</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>