<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Daruma Scraping</title>

</head>
    <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><strong>Daruma Scraping</strong> <i class="fas fa-spider"></i></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/addjobs">Add Job(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/items">View Items</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/{{username}}/price">View Price Table</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if username == 'farhan' %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        <a class="dropdown-item" href="/user/{{username}}/adduser">Add User</a>
                        <a class="dropdown-item" href="/user/{{username}}/viewusers">View Users</a>
                        {% else %}
                        <a class="dropdown-item" href="/logout">logout</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{username}}/link">Link</a>
                </li>
            </ul>
        </div>
    </nav>

     <main style="padding-top:60px;" role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h3 class="border-bottom border-gray pb-2 mb-4">Price Detail</h3>
          <form action="/user/{{username}}/price/history" method="get">
                            <input type="hidden" name="url" value="{{data[keys[8]]}}">
                            <th scope="row"><button class="btn btn-primary btn-sm" type="submit">Price History</button></th>
          </form>
        <div class="media text-muted pt-3">
         <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th >{{keys[1]}}</th>
                        <td>{{data[keys[1]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[2]}}</th>
                        <td>{{data[keys[2]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[3]}}</th>
                        <td>{{data[keys[3]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[4]}}</th>
                        <td>{{data[keys[4]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[5]}}</th>
                        <td>{{data[keys[5]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[6]}}</th>
                        <td>{{data[keys[6]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[7]}}</th>
                        <td>{{data[keys[7]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[8]}}</th>
                        <td>{{data[keys[8]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[9]}}</th>
                        <td>{{data[keys[9]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[10]}}</th>
                        <td>{{data[keys[10]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[11]}}</th>
                        <td>{{data[keys[11]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[12]}}</th>
                        <td>{{data[keys[12]]}}</td>
                    </tr>
                    <tr>
                        <th >{{keys[13]}}</th>
                        <td>{{data[keys[13]]}}</td>
                    </tr>
                    <tr>
                        <th >Rating</th>
                        <td>{{data[keys[14]]}}</td>
                    </tr>
                    <tr>
                        <th >Rate</th>
                        <td><form action="/user/{{username}}/detail_store/{{price_id}}" method="post">
                            <div class="input-group">
                                <input type="hidden" name="url" value="{{data[keys[8]]}}">
                                <select name="rating" class="form-control col-3" id="exampleFormControlSelect1" required>
                                    <option selected disabled>Select rate</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                               <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">submit</button>
                               </span>
                            </div>
                        </form></td>
                    </tr>
                    </tbody>
                </table>
        </div>
          <h3 class="border-bottom border-gray pb-2 mb-4">Reviews</h3>
          {% for review in reviews %}
          <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <th>Reviewer</th>
                        <td>{{review['reviewer']}}</td>
                    </tr>
                    <tr>
                        <th>Review</th>
                        <td>{{review['review']}}</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{review['rating']}}</td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td>{{review['created_at']}}</td>
                    </tr>
                    </tbody>
          </table>
          {% endfor %}
      </div>

    </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </body>
</html>